<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">     
    <meta charset="UTF-8">
    <title>Satellite Tracking System</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Raleway:wght@400;700&display=swap">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    <script type="module" src="https://unpkg.com/@splinetool/viewer@1.0.37/build/spline-viewer.js"></script>
</head>
<body>
    <div class="overlay"></div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Eleventh navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/images/AStro.png" width="90" height="90" class="d-inline-block align-top" alt="logo" onclick="window.location.href='/'">   
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarsExample09">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" onclick="window.location.href='/satellite-info/'">Satellite Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="window.location.href='/potd'">Picture of the Day</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="window.location.href='/login/'">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="window.location.href='/about_us'">About Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="logo-header">
        <img src="/images/AStro.png" width="600" height="600" alt="logo">
    </div>
    <div class="earth-container">
        <spline-viewer url="https://prod.spline.design/z12LXu8OF3lwwWjr/scene.splinecode"></spline-viewer>
        <div class="button-container">
            <button class="rounded-button" onclick="window.location.href='/satellite-info/'" id="learnButton">Learn About Satellites</button>
            <button class="rounded-button" onclick="window.location.href='/potd'" id="learnButton">Picture of the Day</button>
            <button class="rounded-button" onclick="window.location.href='/about_us'" id="learnButton">About Us</button>
        </div>
    </div>
    <section class="add form-section" id="above">
        <details>
            <summary>Satellites Above</summary>
                <div class="satellite-list">
                    <ul>
                        {% for satellite in satellites %}
                            <li>{{ satellite.satname }}</li>
                        {% endfor %}
                    </ul>
                </div>
        </details>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
